{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% block body %}
<style>

.center {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 10%;
  }

  .centerform {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 35%;
  }
</style>

<div class="cointainer px-5 py-5">
    <img src="static/contact.png" class="d-block w-100" alt="..." height="300">
</div>

<div class="centerform mb-5 py-2">
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>

        <div class="form-group">
            <label for="desc">Tell me about what you want to contact me for...</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <div class="cointainer my-2">
            <div class="text-center">
                <button class=" btn btn-lg btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

</div>

{% endblock body %}